---
layout: default
---
<div class="span9">
			<!--<div class="hero-unit">
				<img src="/images/madsenlabnotebook-350px.png" class="img-responsive" alt="MadsenLab Notebook"/>
				<p>I study the evolution of human culture, using the framework of Darwinian evolutionary theory.    
					My research projects focus upon the connection between individual-level processes of social learning and strategic interaction, and their macroscopic and macroevolutionary results.</p>
				<p>Welcome to my lab notebook.</p>
			</div>
			-->
	<div class="row-fluid">
		<div class="span9">
			<h3>Recent Lab Notes</h3>
  				<ul>
    				{% for post in site.posts limit:10 %}
      				<li><a href="{{ post.url }}">{{ post.title }}</a>  {{ post.date | date_to_string }}</li>
    				{% endfor %}
  				</ul>
			<h3>Recent Essays</h3>
			<ul>
				{% for post in site.categories["essays"] limit:5 %}
         		<li><a href="{{ post.url }}">{{ post.title }}</a>  {{ post.date | date_to_string }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
</div>
