---
layout: default
---

<div class="span9">
	<h2>Notes by Topic:</h2>

	<div class="span1">
		<p/>
	</div>

	<div class="span7">
		{% tag_cloud font-size: 14 - 36px %}
	</div>

	<div class="span1">
		<p/>
	</div>

	<!--	<div class="row-fluid">
		{% for tag in site.tags %}
			<div class="span3"><a href="/tag/{{ tag[0] | uri_escape }}.html"><strong>{{ tag[0] | camelize }}</strong></a></div>
		{% endfor %}
		</div>-->

	<!--<ul>
		{% for tag in site.tags %}
			<li><a href="/tag/{{ tag[0] | uri_escape }}.html">{{ tag[0] }}</a></li>
		{% endfor %}
	</ul>-->
</div>
