<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Mark E. Madsen's Lab Notebook" />
<meta name="keywords" content="research,anthropology,evolutionary biology,cultural transmission" />
<meta name="author" content="Mark E. Madsen" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />

<script type="text/javascript" src="//use.typekit.net/xtg2arw.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>
  MathJax.Hub.Config({
	showProcessingMessages: false,
	jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  });
  MathJax.Hub.Queue(function() {
      var all = MathJax.Hub.getAllJax(), i;
      for(i=0; i < all.length; i += 1) {
          all[i].SourceElement().parentNode.className += ' has-jax';
      }
  });
</script>

<title>Mark E. Madsen's Lab Notebook</title>
</head>

<body>
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>

		<!--<h1><a href="/"><div id="logo"></div>MadsenLab<span class="fade">Notebook</span></a></h1>-->
	
		<a href="/"><img src="/images/madsenlabnotebook.png"/></a>

		<div class="slogan">
				<a href="/research.html" class="blue">Research Projects</a>	:|:

				<a href="/publications.html" class="green">Publications</a> :|: 
				<a href="/openscience.html" class="orange">Open Science</a> :|:
				<a href="/code.html" class="pink">Software</a> :|: 
				<a href="/bio.html" class="blue">Bio</a> :|:
				<a href="/tags.html" class="green">Tags</a>
				
		</div>

</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">

    <a href="mailto:mark@madsenlab.org">Email</a> ||
    <a href="http://madsenlab.org">Website</a> ||
	<a href="http://orcid.org/0000-0001-9320-8377">ORCId</a> ||
	<a href="http://figshare.com/authors/Mark%20Madsen/279062">Figshare</a> ||
    <a href="http://www.linkedin.com/profile/view?id=8751">LinkedIn</a>

<p>&copy; 2013 <a href="http://about.me/mark.e.madsen">Mark E. Madsen</a>

</div>

</div>


</body>
</html>
