---
layout: default
---
<div class="span8">
  	<h2>{{ page.title }}</h2>
	

		<p class="text-info">
		<table class="table table-condensed">
			<tr class="info">
				<td><small><i class="icon-calendar"></i>&nbsp;Created: {{ page.date | date_to_string }}</small></td>
				<td><small><i class="icon-calendar"></i>&nbsp;Modified: {{ page.path | prepend:'_posts/' | git_modified | date_to_string }}</small></td>
				<td><small><i class="icon-book">&nbsp;</i>&nbsp;{% greycite_bib_link type: bib %}</small></td>
				<td><small><i class="icon-book">&nbsp;</i>&nbsp;{% greycite_bib_link type: ris %}</small></td>
				<td><small><a href="javascript:window.print()"><i class="icon-print"></i>&nbsp;Print</a></small></td>
				<!--<td><small><a href="{{page.url}}"></i>Permalink</a></small></td> -->
			</tr>
		</table>
		</p>


  	
	
  {{ content }}  


<div class="well well-small">
<p class="text-info"><i class="icon-tags"></i>&nbsp;Tags</p>
<ul>
{% for tag in page.tags %}
<li><a href='/tag/{{ tag | url_encode }}.html'>{{ tag }}</a></li>
{% endfor %}
</ul>
</div>


</div>

