---
layout: default
---
<div class="span8">
  	<h2>{{ page.title }}</h2>
	<div class="well well-small">
	  <p class="text-info"><small>
		<i class="icon-calendar"></i>&nbsp;Created: {{ page.date | date_to_string }}
		<span style="margin-left: 50px">&nbsp;</span>
		<i class="icon-calendar"></i>&nbsp;Modified: {{ page.path | prepend:'_posts/' | git_modified | date_to_string }}
		<span style="margin-left: 50px"></span>
		<i class="icon-book">&nbsp;</i>&nbsp;{% greycite_bib_link type: bib %}
		<span style="margin-left: 50px"></span>
		<i class="icon-book">&nbsp;</i>&nbsp;{% greycite_bib_link type: ris %}
		</small></p>
	</div>

  	
	
  {{ content }}  


<div class="well well-small">
<p class="text-info"><i class="icon-tags"></i>&nbsp;Tags</p>
<ul>
{% for tag in page.tags %}
<li><a href='/tag/{{ tag | url_encode }}.html'>{{ tag }}</a></li>
{% endfor %}
</ul>
</div>


</div>

